body{
    background:linear-gradient(to left, #00af91,#007965);
    margin:0;
}

.container{
    background-color: #252525;
    display:inline-block;
    color:white;
    font-family: 'Source Code Pro', monospace;
    width:50%;
    height:60%;
    font-size: 1.6rem;
    margin:0;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    border:2px solid black;
    box-shadow: 10px 5px rgba(0,0,0,0.6);
}

.subjects{
    position:absolute;
    left:51%;
    top:8%;
}
.subjects p{
    margin:22px;
}



.percent{
   position: absolute;
   left:51%;
   top:55%;
   margin-left: 26px;
   color:#00af91;
    font-weight: bold;
}
.percent:hover{
    cursor:pointer;
}

.final{
    position:absolute;
top:70%;
left:9%;
padding:5px;
font-size: 1.3rem;

}

.last{
    text-align: center;
}


.title{
    margin:0;
    position:absolute;
    top:4%;
    left:14%;
    padding:40px;
    font-size: 3rem;
    color:#00af91;
    font-weight: bold;
}

.vl{
    border-left: 4px solid #00af91;
    height:180px;
    position: absolute;
    left:16%;
    top:23%;
}

.butn button{
    color:azure;
    background-color: #00af91;
    font-family: cursive;
    padding:8px 12px;
    border-radius: 7px;
    border:none;
    position: absolute;
    left:86%;
    outline:none;
    }

    .butn button:hover{
        color:white;
background-color: black;
cursor:pointer;
    }

    .popup{
        color:black;
        background-color: white;
        display: inline-block;
text-align: center;
font-weight: bold;
font-size: 1.4rem;
border-radius: 10px;
position: absolute;
left:40%;
background-color: #00af91;
border:4px solid black;
display:none;
    }

    .popup input{
        margin:5px;
        outline:none;
    }
    .popup #indi{
        border-radius: 10px;
        border:1px solid black;
    }

 #close{
      position: absolute;
      top:0%;
      left:90%;
        display:inline-block;
        margin:0;
    }
    #close:hover{
        cursor:pointer;
    }

    .clear button{
        position: absolute;
        left:92%;
        top:90%;
        color:azure;
        background-color: #00af91;
        font-family: cursive;
        padding:8px 12px;
        border-radius: 7px;
        border:none;
        outline: none;
    }

    .clear button:hover{
        background-color: black;
    }


